body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background: #111;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.booking {
    background: white;
    text-align: center;
    padding: 40px;
}

.booking input,
.booking select,
.booking button {
    width: 280px;
    padding: 12px;
    margin: 10px 0;
}

.booking button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.section {
    padding: 50px;
    text-align: center;
    background: white;
    margin-top: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #eee;
    padding: 20px;
    margin: 10px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}